{% extends "index.html" %}
{% load static %}

{% block content %}

{% if page == 'file' %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h1 class='task1'>Wybierz plik w którym chcesz wymieszać litery:</h1>
        <input class='centre' type='file' name="file" required >
        <button class='button2' type="submit">Wymieszaj Tekst</button>

    </form type="file" name="file">
{% else %}

    {% if file %}
    <div>
        
        <br>
        <a class='a' href={% url "task1" %}> Wybierz inny plik</a>

        <p class='text3'><strong>Orginalny Tekst:</strong></p>
        <p class='text2'>{{ file }}</p>
        
        <p class='text3'><strong>Wymieszany Tekst:</strong></p>
        <p class='text2'>{{ shuffled_file }}</p>

    </div>
    {% endif %}

{% endif %}
    
{% endblock content %}